body {
	background-color: black;
}

p {
	color: black;
}

h3 {
	color: black
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.btn {
  position: center;
}


