body {
	background-color: rgba(100,0,0,1.0);
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

#carousel-news {

	height: 40vh;

}


.card a img {

	height: 200px;

}

a i {

	color: white;

}